<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsokolov.kidsplayer.player_service">

    <application>
        <service
            android:name="com.dsokolov.kidsplayer.player_service.KidsPlayerService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>
</manifest>